# ==================================================
# Python
# ==================================================

__pycache__/
*.py[cod]
*.pyo

# ==================================================
# Virtual Environments
# ==================================================

.venv/
venv/
env/
.conda/
.env

# ==================================================
# Jupyter
# ==================================================

.ipynb_checkpoints/

# ==================================================
# VS Code
# ==================================================

.vscode/

# ==================================================
# Data
# ==================================================

# Ignorer les dossiers lourds
data/raw/*
data/processed/*
data/predictions/*

# Autoriser les fichiers nécessaires au déploiement
!data/procurement_features.csv

# Garder les .gitkeep
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/predictions/.gitkeep

# ==================================================
# Models
# ==================================================

# Ignorer tout le dossier models
models/*

# Autoriser uniquement le modèle final
!models/procuresense_pipeline.pkl
!models/.gitkeep

# Ignorer les autres formats de modèles
*.joblib

# ==================================================
# Logs
# ==================================================

*.log

# ==================================================
# Operating System
# ==================================================

.DS_Store
Thumbs.db
desktop.ini

# ==================================================
# MISC
# ==================================================
procuresense_ai_qrcode.png
